<h1 class="text-xl-center" >Game ID: <%=@game.id%></h1>

<h2 class="text-lg-center"> Player Counter: <%=@game_session.count%>/<%=@game.user_count%></h2>

<% if @game.started? %>
<%= button_to "Start Game", rounds_path , method: :post, game_id: @game.id , params: { id: @game.id },class: "btn btn-dark btn-lg btn-block" %>
<% end %>