/*
*= require rails_bootstrap_forms
*/

body {
    background:  image_url("claystuff.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    opacity: 0.75;
    background-size: cover;
    -o-background-size: cover;
  }

  .jumbotron {
    background-color: transparent !important;
    background-size: cover;
  }
.form-box {
  padding: 3em;
  margin: auto;
  width: 50%;
  background: rgba(168, 161, 161, 0.685);
  border-radius: 7%;
  filter: drop-shadow(2px 4px 6px black);
}


  

.navbar-brand{
  font-size: 1.5rem;
}
#navbar-logo{
  height:auto;
  width: 56px;
  margin-right: 20px;
  filter: invert(1);
}
.section-title{
  text-align: center;
}
.login-title{
  background: rgba(75, 74, 74, 0.876);
  width: fit-content;
  margin: auto;
  padding: 1.4rem;
  color: rgb(255, 255, 255);
  border-radius:7%;
  filter: drop-shadow(2px 4px 6px black);
}
.splash-logo{
  height:auto;
  width: 76px;
  margin-left: 10px;
  filter: invert(1);
}
#user-screen{
  margin-top: 3em;
}
.section-title{
  background: rgba(235, 232, 232, 0.719);
  margin-bottom:3em;
  font-size: 2.5rem;
  font-weight: 700;
}
.form-box>*{
  font-weight: 600
}
.btn-light:hover{
  background: rgba(172, 255, 47, 0.548)
}
.game-button-wrap{
  margin-top: 15px;
  margin-left: 42%;
}


@import "bootstrap";